<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thesameskincare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/chu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Welcom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Contain_All"></activity>
        <activity android:name=".activity.DangNhap"></activity>
        <activity android:name=".activity.DangKy"></activity>
        <activity android:name=".activity.GioHang"></activity>
        <activity android:name=".activity.Search"></activity>
        <activity android:name=".activity.ChiTietSanPham"
            android:parentActivityName=".activity.Contain_All"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activity.ThietlapTaiKhoan"
            android:parentActivityName=".activity.Contain_All"></activity>
        <activity android:name=".HoSo"
            android:parentActivityName=".activity.ThietlapTaiKhoan"></activity>
        <activity android:name=".activity.Resuilt_Search"></activity>
        <activity android:name=".activity.DanhMucCon"></activity>
    </application>


</manifest>